doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')  
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Жилой комплекс Квартал Новые Котельники - квартиры от Застройщика
		meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
		link(href='/new-landing/js/rangeslider/rangeslider.css', rel='stylesheet')
		link(href='/new-landing/js/slick/slick.css', rel='stylesheet') 
		link(href='/new-landing/css/jquery.fancybox.min.css', rel='stylesheet')
		link(href='/new-landing/css/perfect-scrollbar.css', rel='stylesheet')
		link(href='/new-landing/css/style.css', rel='stylesheet')
		script(src="https://api-maps.yandex.ru/2.1/?apikey=1508531d-1ff4-4861-9503-1f67de18b365&lang=ru_RU")
	body
		.dev-header
			.dev-header__content-wrap
				.dev-header__content.main
					.dev-header__left
						a.dev-header__menu-btn
						a.dev-header__logo.core-anhors(href='#dev-banner')
					.dev-header__contacts
						a.dev-header__phone(href='tel:+74956400777')
							svg.dev-header__phone-icon
								use(xlink:href='/new-landing/img/sprite.svg#phone-usage')
							span.dev-header__phone-text +7 495 640-07-77
	
						a.core-btn.dev-header__btn.js-callback(href='#')
							span.core-btn__text.text Заказать звонок
				// Счетчик готовности
				a.header-counter(href="#videoDiary" data-counter='91')
					em.header-counter__sep
					em.header-counter__sep
					em.header-counter__sep
					em.header-counter__sep
					em.header-counter__sep
					em.header-counter__sep
					em.header-counter__sep
					em.header-counter__sep
					em.header-counter__sep
					.header-counter__inner
						.header-counter__info
							div
								| Готовность
								br
								|  1-й очереди
							div 91
			// Меню скрыто
			ul.dev-header__menu
				li.dev-header__menu-item
					a.h4.dev-header__menu-link.core-anhors(href='#dev-stocks') Выгодные акции
				li.dev-header__menu-item
					a.h4.dev-header__menu-link.core-anhors(href='#dev-flats') Квартиры
				li.dev-header__menu-item
					a.h4.dev-header__menu-link.core-anhors(href='#dev-transport') Транспортная доступность
				li.dev-header__menu-item
					a.h4.dev-header__menu-link.core-anhors(href='#dev-map') Местоположение
				li.dev-header__menu-item
					a.h4.dev-header__menu-link.core-anhors(href='#dev-about') О комплексе
				li.dev-header__menu-item
					a.h4.dev-header__menu-link.core-anhors(href='#dev-styles') Стили квартир
				li.dev-header__menu-item
					a.h4.dev-header__menu-link.core-anhors(href='#dev-contacts') Контакты
		#dev-banner.dev-banner
			#homepageCoundown.Countdown
				.Countdown_title ДО ПОВЫШЕНИЯ ЦЕН ОСТАЛОСЬ
				.Countdown_clock(data-countdown-until='2018/07/16')
			.dev-banner__content
				.dev-banner__pic.dev-banner__pic--n1
						include includes/blocks/Slideshow
				.dev-banner__pic.dev-banner__pic--n2
						a.dev-banner__linkArea.dev-banner__linkArea--n1(href="#aboutProject")
						a.dev-banner__linkArea.dev-banner__linkArea--n2(href="#dev-map")
				.dev-banner__pic.dev-banner__pic--n3
		.page
			.page__borders
			.page__content
				// Основные преимущества 1/9
				section.AwardWinner.page_awardWinner
					.AwardWinner_col
						img(src="new-landing/img/logo.png", alt="Логотип").AwardWinner_logo
						h3.AwardWinner_title Квартал «Новые Котельники» — победитель премии RREF AWARDS 2018
						.AwardWinner_text
							p!= 'Квартал «Новые Котельники» (застройщик «Концерн РУСИЧ») победил в номинации «Лучший строящийся комплекс <br class="hidden-smPlus">комфорт-класса. Подмосковье» по версии ежегодной <br class="hidden-xs">национальной премии в области жилой недвижимости RREF AWARDS 2018.'
					.AwardWinner_col
						.AwardWinner_video
							.dev-video#videoDiary
								iframe(src='https://player.vimeo.com/video/277310366?title=0&byline=0&portrait=0&background=1', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', width='100%', height='100%', frameborder='0')
				section.section._advantage
					h2.section__tlt(xmlns:xlink='http://www.w3.org/1999/xlink')
						span Основные преимущества
					.icon-list(xmlns:xlink='http://www.w3.org/1999/xlink', data-slider='data-slider')
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/7/7/item_177/item_177.svg', alt='')
	
								span Собственный пляж
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/7/8/item_178/item_178.svg', alt='')
	
								span Развитая инфраструктура
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/7/9/item_179/item_179.svg', alt='')
	
								span Школа и 4 детских сада
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/8/0/item_180/item_180.svg', alt='')
	
								span 10 минут до метро Котельники
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/8/1/item_181/item_181.svg', alt='')
	
								span Двор без машин
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/8/2/item_182/item_182.svg', alt='')
	
								span 2 км до МКАД
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/8/3/item_183/item_183.svg', alt='')
	
								span Ключи 2019
						.icon-list__item
							.icon-list__inner
								img.icon-list__img(src='/upload/information_system_22/1/8/4/item_184/item_184.svg', alt='')
	
								span
									| Проектное
									br
									|  финансирование
				#dev-flats.dev-flats
					.dev-flats__head.main
						.h2.dev-styles__title
							| Квартиры 
							span без отделки
					.dev-flats__content.main
						.dev-flats__item(xmlns:xlink='http://www.w3.org/1999/xlink')
							.h4.dev-flats__name Студия
							.dev-flats__img-wrap
								.dev-flats__img(style='background-image:url(/upload/information_system_16/1/7/1/item_171/information_items_property_29.svg)')
							.dev-flats__description
								.dev-flats__col
									.dev-flats__info-wrap
										.dev-flats__info
											p.dev-flats__info-name Цена:
											p.h4.dev-flats__info-price 2 649 600 ₽
										.dev-flats__info
											p.dev-flats__info-name Площадь: 
											p.h4.dev-flats__info-area 27,6 м²
							a.core-btn.dev-flats__btn.js-callback(href='#')
								span.core-btn__text.text Забронировать
						.dev-flats__item(xmlns:xlink='http://www.w3.org/1999/xlink')
							.h4.dev-flats__name Однокомнатная
							.dev-flats__img-wrap
								.dev-flats__img(style='background-image:url(/upload/information_system_16/1/7/2/item_172/information_items_property_35.svg)')
							.dev-flats__description
								.dev-flats__col
									.dev-flats__info-wrap
										.dev-flats__info
											p.dev-flats__info-name Цена:
											p.h4.dev-flats__info-price 3 281 265 ₽
										.dev-flats__info
											p.dev-flats__info-name Площадь: 
											p.h4.dev-flats__info-area 34,8 м²
							a.core-btn.dev-flats__btn.js-callback(href='#')
								span.core-btn__text.text Забронировать
					.dev-flats__head.main
						.h2.dev-styles__title
							| Квартиры 
							span с отделкой
					.dev-flats__content
						.dev-flats__item(xmlns:xlink='http://www.w3.org/1999/xlink')
							.h4.dev-flats__name Студия
							.dev-flats__img-wrap.dev-flats__img-wrap--slider
								.dev-flats__img(style='background-image:url(/upload/information_system_16/1/7/4/item_174/information_items_property_29.svg)')
	
								.dev-flats__clipper
									.dev-flats__new-img(style='background-image:url(/upload/information_system_16/1/7/4/item_174/information_items_property_25.png)')
	
								.dev-flats__img-slider
							.dev-flats__description
								.dev-flats__col
									.dev-flats__info-wrap
										.dev-flats__info
											p.dev-flats__info-name Цена:
											p.h4.dev-flats__info-price 3 049 600 ₽
										.dev-flats__info
											p.dev-flats__info-name Площадь: 
											p.h4.dev-flats__info-area 27,6 м²
							a.core-btn.dev-flats__btn.js-callback(href='#')
								span.core-btn__text.text Забронировать
						.dev-flats__item(xmlns:xlink='http://www.w3.org/1999/xlink')
							.h4.dev-flats__name Однокомнатная
							.dev-flats__img-wrap.dev-flats__img-wrap--slider
								.dev-flats__img(style='background-image:url(/upload/information_system_16/1/7/3/item_173/information_items_property_30.svg)')
	
								.dev-flats__clipper
									.dev-flats__new-img(style='background-image:url(/upload/information_system_16/1/7/3/item_173/information_items_property_26.png)')
	
								.dev-flats__img-slider
							.dev-flats__description
								.dev-flats__col
									.dev-flats__info-wrap
										.dev-flats__info
											p.dev-flats__info-name Цена:
											p.h4.dev-flats__info-price 3 881 265 ₽
										.dev-flats__info
											p.dev-flats__info-name Площадь: 
											p.h4.dev-flats__info-area 36,6 м²
							a.core-btn.dev-flats__btn.js-callback(href='#')
								span.core-btn__text.text Забронировать
		
					.dev-flats__backs
						img.dev-flats__back.dev-flats__back--1(src='new-landing/img/backs/back4.svg', alt='back')
						img.dev-flats__back.dev-flats__back--2(src='new-landing/img/backs/back5.svg', alt='back')
						img.dev-flats__back.dev-flats__back--3(src='new-landing/img/backs/back2.svg', alt='back')
						img.dev-flats__back.dev-flats__back--4(src='new-landing/img/backs/back4.svg', alt='back')
						img.dev-flats__back.dev-flats__back--5(src='new-landing/img/backs/back2.svg', alt='back')
						img.dev-flats__back.dev-flats__back--6(src='new-landing/img/backs/back2.svg', alt='back')
						img.dev-flats__back.dev-flats__back--7(src='new-landing/img/backs/back5.svg', alt='back')
				// Выгодные акции 3/9
				#dev-stocks.dev-stocks
					.dev-stocks__content.main
						.dev-stocks__description(xmlns:xlink='http://www.w3.org/1999/xlink')
							.h3.dev-stocks__title Выгодные акции

							p.text.dev-stocks__text
							p.text.dev-stocks__text Получи свою персональную скидку, только 30 сентября!
							p.text.dev-stocks__text
								a.core-btn.js-callback(href='#')
									span.core-btn__text.text Получить скидку
							p
						.dev-stocks__items.swiper-container(xmlns:xlink='http://www.w3.org/1999/xlink')
							.swiper-wrapper
								.dev-stocks__item.swiper-slide
									.dev-stocks__img(style='background-image:url(/upload/information_system_15/1/5/1/item_151/item_151.jpg')
	
									.dev-stocks__links-wrap
										.dev-stocks__links
											.dev-stocks__social
												a.dev-stocks__social-item(href='https://www.facebook.com/%D0%96%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%D0%9D%D0%BE%D0%B2%D1%8B%D0%B5-%D0%9A%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%B8-402812733515809', target='_blank')
													svg.dev-stocks__social-icon
														use(xlink:href='/new-landing/img/sprite.svg#fb-usage')

												a.dev-stocks__social-item(href='https://vk.com/kvartalnoviekotelniki', target='_blank')
													svg.dev-stocks__social-icon
														use(xlink:href='/new-landing/img/sprite.svg#vk-usage')

											a.js-callback.dev-stocks__more(href='#')
												p.dev-stocks__more-text.text-little
													span Узнать
													|  подробнее

												svg.dev-stocks__more-icon
													use(xlink:href='/new-landing/img/sprite.svg#arrow-right-usage')
	
									.dev-stocks__name-wrap
										p.text.dev-stocks__name 50 квартир по уникальной цене!

								.dev-stocks__item.swiper-slide
									.dev-stocks__img(style='background-image:url(/upload/information_system_15/1/7/6/item_176/item_176.jpg')
	
									.dev-stocks__links-wrap
										.dev-stocks__links
											.dev-stocks__social
												a.dev-stocks__social-item(href='https://www.facebook.com/%D0%96%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%D0%9D%D0%BE%D0%B2%D1%8B%D0%B5-%D0%9A%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%B8-402812733515809', target='_blank')
													svg.dev-stocks__social-icon
														use(xlink:href='/new-landing/img/sprite.svg#fb-usage')

												a.dev-stocks__social-item(href='https://vk.com/kvartalnoviekotelniki', target='_blank')
													svg.dev-stocks__social-icon
														use(xlink:href='/new-landing/img/sprite.svg#vk-usage')

											a.js-callback.dev-stocks__more(href='#')
												p.dev-stocks__more-text.text-little
													span Узнать
													|  подробнее

												svg.dev-stocks__more-icon
													use(xlink:href='/new-landing/img/sprite.svg#arrow-right-usage')
	
									.dev-stocks__name-wrap
										p.text.dev-stocks__name
											| Осенние скидки 
											br
											| в Новых Котельниках
		
					.dev-stocks__backs
						img.dev-stocks__back.dev-stocks__back--1(src='new-landing/img/backs/back1.svg', alt='back')
				
						img.dev-stocks__back.dev-stocks__back--2(src='new-landing/img/backs/back3.svg', alt='back')
				// Ипотека от ведущих банков 4/9
				section.section._mortgage
					h2.section__tlt(xmlns:xlink='http://www.w3.org/1999/xlink')
						span Ипотека от ведущих банков
					.mortgage(xmlns:xlink='http://www.w3.org/1999/xlink')
						header.mortgage__header.mortgage-calc(data-min-price='2354280', data-min-bank-rate='8.7', data-calc='data-calc')
							form.MortgageSliders
								.MortgageSliders_option.MortgageSliders_option-firstPayment(data-slide-handler='firstPaymentSlideHandler')
									.MortgageSliders_text Первый взнос
		
									.MortgageSliders_sumWrapper
										span.MortgageSliders_sum
										span.MortgageSliders_sign ₽
		
									.RangeSlider.RangeSlider-mortgage.MortgageSliders_slider
										input(name='firstPay', min='0', max='1883424', autocomplete='off', value='250000', data-range='fee', type='range')
	
								.MortgageSliders_option.MortgageSliders_option-duration(data-slide-handler='durationSlideHandler')
									.MortgageSliders_text Срок до
		
									.MortgageSliders_sumWrapper
										span.MortgageSliders_sum
		
									.RangeSlider.RangeSlider-mortgage.MortgageSliders_slider
										input(name='duration', min='1', max='30', autocomplete='off', value='20', data-range='term', type='hidden')
	
								.MortgageSliders_option.MortgageSliders_option-price(data-slide-handler='priceSlideHandler')
									.MortgageSliders_text Ежемесячный платеж
		
									.MortgageSliders_sumWrapper
										span.MortgageSliders_sum(data-payment='data-payment')
										span.MortgageSliders_sign ₽
		
									.RangeSlider.RangeSlider-mortgage.MortgageSliders_slider
										input(name='price', disabled='disabled', value='', data-range='payment', type='hidden')
						.icon-list(data-slider='data-slider')
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/8/5/item_185/item_185.svg', alt='')
									p
										span
											| Проектное
											br
											|  финансирование
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/8/6/item_186/item_186.svg', alt='')
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/8/7/item_187/item_187.svg', alt='')
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/8/8/item_188/item_188.png', alt='')
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/8/9/item_189/item_189.png', alt='')
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/9/0/item_190/item_190.png', alt='')
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/9/1/item_191/item_191.svg', alt='')
							.icon-list__item
								.icon-list__inner
									img.icon-list__img(src='/upload/information_system_23/1/9/2/item_192/item_192.svg', alt='')
						a.core-btn.js-callback(href='#')
							span.core-btn__text.text Рассчитать ипотеку
				// О комплексе 5/9
				section.section._about#aboutProject
					h2.section__tlt
						span О комплексе
		
					.about(data-about='data-about')
						.about__inner
							.about-stage
								p Стадия строительства
												
								ul
									li._color1 I        
									li._color9 II       
									li._color2 III                    
							.about__item._number._color1._ico1(data-content='1')                    
							.about__item._number._color1._ico2(data-content='2')                    
							.about__item._number._color1._ico3(data-content='3')                    
							.about__item._number._color9._ico4(data-content='4')                    
							.about__item._number._color9._ico5(data-content='5')                    
							.about__item._number._color1._ico6(data-content='6')                    
							.about__item._number._color1._ico7(data-content='7')                    
							.about__item._number._color1._ico8(data-content='8')                    
							.about__item._number._color9._ico9(data-content='9')                    
							.about__item._number._color9._ico10(data-content='10')                    
							.about__item._number._color2._ico11(data-content='11')                    
							.about__item._number._color2._ico12(data-content='12')                    
							.about__item._number._color2._ico13(data-content='13')                    
							.about__item._number._color2._ico14(data-content='14')                    
							.about__item._number._color3._ico15(data-content='P')                    
							.about__item._number._color3._ico16(data-content='P')                    
							.about__item._ico._color4._ico17                    
							.about__item._ico._color5._ico18                    
							.about__item._ico._color6._ico19                    
							.about__item._ico._color7._ico20                    
							.about__item._ico._color8._ico21
		
					.about-contact
						p
							| Узнай как получить скидку
							br
							|  до 
							span 170 520
							|  рублей.
				
						p
							a.core-btn.js-callback(href='#')
								span.core-btn__text.text Получить скидку
				
				#ya-map.dev-map
					.dev-map__content.main
						.dev-map__head.main
							.h3.dev-map__head-title Местоположение
							p.text.dev-map__head-text
								| Котельники граничат с Дзержинским, который является городом-спутником Москвы. Жители нового квартала смогут пользоваться всей необходимой инфра-структурой: медицинскими и образова-тельными центрами, пунктами бытовых услуг и отделениями банков, магазинами и ресторанами.
				
						.dev-map__map-wrap
							.dev-map__map#map                    
							.dev-map__backs
								img.dev-map__back.dev-map__back--1(src='/new-landing/img/backs/back6.svg', alt='back')
								img.dev-map__back.dev-map__back--2(src='/new-landing/img/backs/back7.svg', alt='back')
								img.dev-map__back.dev-map__back--3(src='/new-landing/img/backs/back8.svg', alt='back')
								img.dev-map__back.dev-map__back--4(src='/new-landing/img/backs/back9.svg', alt='back')

				#dev-styles.dev-styles
					.dev-styles__head.main(xmlns:xlink='http://www.w3.org/1999/xlink')
						.h2.dev-styles__title
							| Квартиры 
							span с отделкой
					.dev-styles__content.main(xmlns:xlink='http://www.w3.org/1999/xlink')
						.dev-styles__item
							.h4.dev-styles__name.main Скандинавский стиль
							.dev-styles__img-wrap(style='background-image:url(/upload/information_system_18/1/6/1/item_161/item_161.jpg)')
						.dev-styles__item
							.h4.dev-styles__name.main Классический стиль
							.dev-styles__img-wrap(style='background-image:url(/upload/information_system_18/1/6/3/item_163/item_163.jpg)')
					.dev-styles__backs
						img.dev-styles__back.dev-styles__back--1(src='/new-landing/img/backs/back3.svg', alt='back')
						img.dev-styles__back.dev-styles__back--2(src='/new-landing/img/backs/back5.svg', alt='back')
						img.dev-styles__back.dev-styles__back--4(src='/new-landing/img/backs/back5.svg', alt='back')
				// .dev-video#videoDiary
				// 	iframe(src='https://player.vimeo.com/video/277310366?title=0&byline=0&portrait=0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', width='100%', height='100%', frameborder='0')

				#dev-contacts.dev-contacts.main
					.dev-contacts__content
						.h5.dev-contacts__title У Вас возникли вопросы?
						p.text.dev-contacts__text
							| Наши менеджеры помогут выбрать оптимальную программу, собрать необходимый пакет документов и заключить сделку.
						.dev-contacts__btns
							a.core-btn.core-btn--border.dev-contacts__btn.js-callback(href='#')
								span.core-btn__text.text Заказать звонок
							
		footer.dev-footer
			.dev-footer__content.main
				p.dev-footer__copy © «Новые Котельники», 2019
				.dev-footer__social
					a.dev-header__logo.dev-footer__social-item(href='https://kvartalkotelniki.ru/', target='_blank')
		
					a.dev-footer__social-item(href='https://www.facebook.com/%D0%96%D0%B8%D0%BB%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B0%D0%BB-%D0%9D%D0%BE%D0%B2%D1%8B%D0%B5-%D0%9A%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%B8-402812733515809', target='_blank')
						svg.dev-footer__social-icon
							use(xlink:href='/new-landing/img/sprite.svg#fb-usage')

					a.dev-footer__social-item(href='https://vk.com/kvartalnoviekotelniki', target='_blank')
						svg.dev-footer__social-icon
							use(xlink:href='/new-landing/img/sprite.svg#vk-usage')
		
					a.dev-footer__social-item(href='https://www.instagram.com/novie_kotelniki/', target='_blank')
						svg.dev-footer__social-icon
							use(xlink:href='/new-landing/img/sprite.svg#insta-usage')
		
					a.dev-footer__social-item(href='https://www.youtube.com/channel/UC26AdPuuC-60zh5H1oGohJg', target='_blank')
						svg.dev-footer__social-icon
							use(xlink:href='/new-landing/img/sprite.svg#yt-usage')
				a.dev-footer__dev(href='https://blue-ant.ru/', target='_blank')
					svg.dev-footer__dev-icon
						use(xlink:href='/new-landing/img/sprite.svg#dev-logo-usage')
		
			.dev-footer__bottom
				.dev-footer__bottom-content.main
					p.dev-footer__bottom-text!= 'Материалы, представленные на сайте не являются публичной офертой. Визуализации объекта являются ориентировочными. Застройщик вправе вносить изменения в проектную документацию в соответствии с действующим законодательством. <a href="#" data-src="#PrivacyPolicyPopup">Политика конфидециальности.</a>'
		.PrivacyPolicyPopup#PrivacyPolicyPopup(style="display: none;")
			.PrivacyPolicy.ps--privacyPolicy
				h2.PrivacyPolicy_title!= 'Политика конфиденциальности'
				.PrivacyPolicy_text
					h3!= 'ПОЛИТИКА КОМПАНИИ В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ'
					h3!= '1. ОБЩИЕ ПОЛОЖЕНИЯ'
					p!= 'Политика обработки персональных данных (далее – Политика) разработана в соответствии с Федеральным законом от 27.07.2006. №152-ФЗ «О персональных данных» (далее – ФЗ-152).'
					p!= 'Настоящая Политика определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных в ООО &quot;БОТНАРУ ФИТ&quot; (далее – Оператор) с целью защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.'
					p!= 'В Политике используются следующие основные понятия:'
					ul
						li!= '- автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;'
						li!= '- блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);'
						li!= '- информационная система персональных данных - совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;'
						li!= '- обезличивание персональных данных'
						li!= '- действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному субъекту персональных данных;'
						li!= '- обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;'
						li!= '- оператор - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;'
						li!= '- персональные данные – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);'
						li!= '- предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;'
						i!= '- распространение персональных данных - действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно- телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;'
						li!= '- трансграничная передача персональных данных - передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.'
						li!= '- уничтожение персональных данных - действия, в результате которых невозможно восстановить содержание персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных;'
					p!= 'Компания обязана опубликовать или иным образом обеспечить неограниченный доступ к настоящей Политике обработки персональных данных в соответствии с ч. 2 ст. 18.1. ФЗ-152. 5'
					h3!= '2. ПРИНЦИПЫ И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ'
					h3!= '2.1 Принципы обработки персональных данных'
					p!= 'Обработка персональных данных у Оператора осуществляется на основе следующих принципов:'
					ul
						li!= '- законности и справедливой основы;'
						li!= '- ограничения обработки персональных данных достижением конкретных, заранее определенных и законных целей;'
						li!= '- недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;'
						li!= '- недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;'
						li!= '- обработки только тех персональных данных, которые отвечают целям их обработки;'
						li!= '- соответствия содержания и объема обрабатываемых персональных данных заявленным целям обработки;'
						li!= '- недопущения обработки персональных данных, избыточных по отношению к заявленным целям их обработки;'
						li!= '- обеспечения точности, достаточности и актуальности персональных данных по отношению к целям обработки персональных данных;'
						li!= '- уничтожения либо обезличивания персональных данных по достижении целей их обработки или в случае утраты необходимости в достижении этих целей, при невозможности устранения Оператором допущенных нарушений персональных данных, если иное не предусмотрено федеральным законом.'
					h3!= '2.2 Условия обработки персональных данных'
					p!= 'Оператор производит обработку персональных данных при наличии хотя бы одного из следующих условий:'
					ul
						li!= '- обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;'
						li!= '- обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;'
						li!= '- обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве;'
						li!= '- обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;'
						li!= '- обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;'
						li!= '- осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее - общедоступные персональные данные);'
						li!= '- осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.'
					p!= 'Для указанных целей могут обрабатываться персональные данные субъекта: фамилия, имя, отчество; год, месяц, дата рождения; место рождения, адрес; семейное положение; социальное положение; имущественное положение; образование; профессия; доходы; ИНН, СНИЛС, контактная информация (телефон, адрес электронной почты), иные сведения, предусмотренные типовыми формами и установленным порядком обработки.'
					h3!= '2.3 Конфиденциальность персональных данных'
					p!= 'Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.'
					h3!= '2.4 Общедоступные источники персональных данных'
					p!= 'В целях информационного обеспечения у Оператора могут создаваться общедоступные источники персональных данных субъектов, в том числе справочники и адресные книги. В общедоступные источники персональных данных с письменного согласия субъекта могут включаться его фамилия, имя, отчество, дата и место рождения, должность, номера контактных телефонов, адрес электронной почты и иные персональные данные, сообщаемые субъектом персональных данных. Сведения о субъекте должны быть в любое время исключены из общедоступных источников персональных данных по требованию субъекта либо по решению суда или иных уполномоченных государственных органов.'
					h3!= '2.5 Специальные категории персональных данных'
					p!= 'Обработка Оператором специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни, допускается в случаях, если:'
					ul
						li!= '- субъект персональных данных дал согласие в письменной форме на обработку своих персональных данных;'
						li!= '- персональные данные сделаны общедоступными субъектом персональных данных;'
						li!= '- обработка персональных данных осуществляется в соответствии с законодательством о государственной социальной помощи, трудовым законодательством, законодательством Российской Федерации о пенсиях по государственному пенсионному обеспечению, о трудовых пенсиях;'
						li!= '- обработка персональных данных необходима для защиты жизни, здоровья или иных жизненно важных интересов субъекта персональных данных либо жизни, здоровья или иных жизненно важных интересов других лиц и получение согласия субъекта персональных данных невозможно;'
						li!= '- обработка персональных данных осуществляется в медико-профилактических целях, в целях установления медицинского диагноза, оказания медицинских и медико- социальных услуг при условии, что обработка персональных данных осуществляется лицом, профессионально занимающимся медицинской деятельностью и обязанным в соответствии с законодательством Российской Федерации сохранять врачебную тайну;'
						li!= '- обработка персональных данных необходима для установления или осуществления прав субъекта персональных данных или третьих лиц, а равно и в связи с осуществлением правосудия;'
						li!= '- обработка персональных данных осуществляется в соответствии с законодательством об обязательных видах страхования, со страховым законодательством. Обработка специальных категорий персональных данных должна быть незамедлительно прекращена, если устранены причины, вследствие которых осуществлялась их обработка, если иное не установлено федеральным законом. Обработка персональных данных о судимости может осуществляться Оператором исключительно в случаях и в порядке, которые определяются в соответствии с федеральными законами.'
					h3!= '2.6 Биометрические персональные данные'
					p!= 'Сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность - биометрические персональные данные - могут обрабатываться Оператором только при наличии согласия в письменной форме субъекта.'
					h3!= '2.7 Поручение обработки персональных данных другому лицу'
					p!= 'Оператор вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные ФЗ-152.'
					h3!= '2.8 Трансграничная передача персональных данных'
					p!= 'Оператор обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается адекватная защита прав субъектов персональных данных, до начала осуществления такой передачи.'
					p!= 'Трансграничная передача персональных данных на территории иностранных государств, не обеспечивающих адекватной защиты прав субъектов персональных данных, может осуществляться в случаях:'
					ul
						li!= '- наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных;'
						li!= '- исполнения договора, стороной которого является субъект персональных данных.'
					h3!= '3. ПРАВА СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ'
					h3!= '3.1 Согласие субъекта персональных данных на обработку его персональных данных'
					p!= 'Субъект персональных данных принимает решение о предоставлении его персональных данных и дает согласие на их обработку свободно, своей волей и в своем интересе. Согласие на обработку персональных данных может быть дано субъектом персональных данных или его представителем в любой позволяющей подтвердить факт его получения форме, если иное не установлено федеральным законом.'
					p!= 'Обязанность предоставить доказательство получения согласия субъекта персональных данных на обработку его персональных данных или доказательство наличия оснований, указанных в ФЗ-152, возлагается на Оператора.'
					h3!= '3.2 Права субъекта персональных данных'
					p!= 'Субъект персональных данных имеет право на получение у Оператора информации, касающейся обработки его персональных данных, если такое право не ограничено в соответствии с федеральными законами. Субъект персональных данных вправе требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.'
					p!= 'Обработка персональных данных в целях продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи, а также в целях политической агитации допускается только при условии предварительного согласия субъекта персональных данных. Указанная обработка персональных данных признается осуществляемой без предварительного согласия субъекта персональных данных, если Компания не докажет, что такое согласие было получено.'
					p!= 'Оператор обязан немедленно прекратить по требованию субъекта персональных данных обработку его персональных данных в вышеуказанных целях.'
					p!= 'Запрещается принятие на основании исключительно автоматизированной обработки персональных данных решений, порождающих юридические последствия в отношении субъекта персональных данных или иным образом затрагивающих его права и законные интересы, за исключением случаев, предусмотренных федеральными законами, или при наличии согласия в письменной форме субъекта персональных данных.'
					p!= 'Если субъект персональных данных считает, что Оператор осуществляет обработку его персональных данных с нарушением требований ФЗ-152 или иным образом нарушает его права и свободы, субъект персональных данных вправе обжаловать действия или бездействие Оператора в Уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.'
					p!= 'Субъект персональных данных имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.'
					h3!= '4. ОБЕСПЕЧЕНИЕ БЕЗОПАСНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ'
					p!= 'Безопасность персональных данных, обрабатываемых Оператора, обеспечивается реализацией правовых, организационных и технических мер, необходимых для обеспечения требований федерального законодательства в области защиты персональных данных.'
					p!= 'Для предотвращения несанкционированного доступа к персональным данным Оператором применяются следующие организационно-технические меры:'
					ul
						li!= '- назначение должностных лиц, ответственных за организацию обработки и защиты персональных данных;'
						li!= '- ограничение состава лиц, имеющих доступ к персональным данным;'
						li!= '- ознакомление субъектов с требованиями федерального законодательства и нормативных документов Оператора по обработке и защите персональных данных;'
						li!= '- организация учета, хранения и обращения носителей информации;'
						li!= '- определение угроз безопасности персональных данных при их обработке, формирование на их основе моделей угроз;'
						li!= '- разработка на основе модели угроз системы защиты персональных данных;  проверка готовности и эффективности использования средств защиты информации;'
						li!= '- разграничение доступа пользователей к информационным ресурсам и программно- аппаратным средствам обработки информации;'
						li!= '- регистрация и учет действий пользователей информационных систем персональных данных;'
						li!= '- использование антивирусных средств и средств восстановления системы защиты персональных данных;'
						li!= '- применение в необходимых случаях средств межсетевого экранирования, обнаружения вторжений, анализа защищенности и средств криптографической защиты информации;  организация пропускного режима на территорию Оператора, охраны помещений с техническими средствами обработки персональных данных.'
					h3!= '5. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ'
					p!= 'Иные права и обязанности Оператора, как оператора персональных данных определяются законодательством Российской Федерации в области персональных данных. Должностные лица Оператора, виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут материальную, дисциплинарную, административную, гражданско-правовую или уголовную ответственность в порядке, установленном федеральными законами.'
		script(src='/new-landing/js/main.bundle.js')
		script(src='/new-landing/js/jquery-3.3.1.min.js')
		script(src='/new-landing/js/jquery.countdown-2.2.0/jquery.countdown.min.js')
		script(src='/new-landing/js/rangeslider/rangeslider.js')
		script(src='/new-landing/js/slick/slick.min.js')
		script(src='/new-landing/js/app.js')
		script(src='/new-landing/js/mortgage.js')
		script(src='/new-landing/js/jquery.fancybox.min.js')
		script(src='/new-landing/js/fancybox_defaults.js')
		script(src='/new-landing/js/perfect-scrollbar.min.js')
		script(src='/new-landing/js/index.js')