.AwardWinner
	// padding 30px 12px 34px
	padding 30px 12px 0
	background-color #F2F2F2
	color #4B5666
	text-align center
	
	@media (min-width 1024px)
		display flex
		align-items center
		padding-bottom 34px
	
	@media (min-width 1280px)
		// max-width 1144px
		max-width 1310px
		padding-bottom 33px
	
	&_col
		@media (min-width 1024px)
			flex-basis 50%
			padding 0 20px
	
	&_logo
		width 150px
		margin-bottom 20px
	
	&_title
		margin-bottom 19px
		font-weight 500
		font-size 18px
		text-indent -4px
		
		@media $smPlus
			max-width 430px
			margin-right auto
			margin-left auto
			font-size 23px
			text-indent 2px
		
		@media (min-width 1280px)
			max-width none
			margin-bottom 17px
	
	&_text
		&, & > p
			font-size 14px
			line-height 1.76
		
		@media $smPlus
			max-width 614px
			margin-right auto
			margin-left auto
	
	&_video
		margin 25px -12px 0
		
		@media (min-width 1024px)
			margin-top 0