.PrivacyPolicyPopup
	width 768px
	max-width 100%
	
	&:before, &:after
		content ""
		position absolute
		left 0
		width 100%
		height 6px
		background-image linear-gradient(to right, #86c98b, #7dcac5)
	
	&:before
		top 0
	
	&:after
		bottom 0