.Slideshow
	color #fff
	@media $xs
		position absolute
		height 100%
		top 0
		left 0
		width 100%
		bottom 0
		z-index 10
	@media $sm
		padding-top 196px
	@media $mdPlus
		padding-top 40px
	@media (min-width: 1024px)
		padding-top 34px
		
	&_track
		@media $xs
			position absolute
			height 100%
			top 0
			left 0
			width 100%
			bottom 0
			z-index 10
			text-align center
			& > .slick-list
			& > .slick-list > .slick-track    
				height 100%
	&_slide
		height 100%
	&_slideInner
		height 100%
		width 100%
		color inherit!important
		@media $xs
			display flex
			flex-direction column
			justify-content center
			align-items center
			padding 0 40px
	&_title
		font-weight 600
		@media $xs
			font-size 25px
			line-height 1
			padding-bottom 6px
		@media $smPlus
			font-size 60px
			font-style normal
			font-stretch normal
			line-height 1.23
			padding-bottom 14px
	&_desc
		font-weight 500
		@media $xs
			font-size 14px
			line-height 1.14
			letter-spacing .2px
		@media $smPlus
			font-size 16px
			line-height 1.5
			letter-spacing .2px
		@media (min-width: 1024px)
			font-size 21px
			line-height 1.42857
	&_arrow
		width 20px
		height 17px
		z-index 20
		background url("/new-landing/img/arrow.svg") center no-repeat
		background-size contain
		@media $xs
			position absolute
			top 50%
			margin-top -20px
		&-prev
			left 6px
		&-next
			right 6px
			transform scaleX(-1)
	&_pager
		@media $smPlus
			position relative
			z-index 20
			font-size 20px
			font-weight 600
			letter-spacing .4px
			display flex
			align-items center
			
	&_count
		@media $xs
			display none
		@media $smPlus
			padding 0 20px
