.Slideshow
	.Slideshow_pager
		span.Slideshow_count 01
	.Slideshow_track
		.Slideshow_slide
			a.Slideshow_slideInner(href="#dev-stocks")
				.Slideshow_title Квартира #[br]с отделкой
				//- .Slideshow_desc 1-на комнатная квартира с&nbsp;отделкой в&nbsp;скандинавском стиле #[br]за&nbsp;3 920 000 руб.
				.Slideshow_desc 2 комнатная квартира за 5 554 836 руб
		.Slideshow_slide
			a.Slideshow_slideInner(href="#dev-stocks")
				.Slideshow_title Lorem ipsum dolor 2
				.Slideshow_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.Slideshow_slide
			a.Slideshow_slideInner(href="#dev-stocks")
				.Slideshow_title Lorem ipsum 3
				.Slideshow_desc Lorem ipsum dolor sit amet, consectetur adipisicing elit.